<footer class="footer footer-default">
            <div class="container">
                <nav>
                    <ul>
                        <li>
                            <a href="">
                                Politique de vie privé
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Qui sommes nous ? 
                            </a>
                        </li>
                        <li>
                            <a href="">
                                Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright">
                  
                </div>
            </div>
        </footer>